@font-face {
	font-family: "Dyslexie";
	font-weight: 400;
	src: local("Dyslexie-Regular")
	local("Dyslexie")
	url("../assets/fonts/Dyslexie-Regular/Dyslexie-Regular.woff") format("woff"),
	url("../assets/fonts/Dyslexie-Regular/Dyslexie-Regular.eot") format("eot");
}

@font-face {
	font-family: "Khula";
	font-weight: 300;
	src:
	url("../assets/fonts/Khula-Light/Khula-Light.woff") format("woff"),
	url("../assets/fonts/Khula-Light/Khula-Light.eot") format("eot");
}